<div class="card flex justify-content-center">
    <p-card header="Informações pagamento">
        <p class="m-0">
            Total: <span> R$ preço </span>
        </p>
        <ng-template pTemplate="footer">
        <div class="button-payment-pix">
            <p-button label="CARTÃO CRÉDITO" severity="primary" class="w-full" styleClass="w-full" />
        </div>
        <div class="button-payment-card">
          <p-button label="PIX" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
      <p-button label="Finalizar pedido" class="w-full" styleClass="w-full" severity="secondary"/>
    </p-card>
</div>


