<div class="teste">
  <div class="card-login">
    <div class="infos">
      <p-floatLabel>
        <input pInputText id="username" [(ngModel)]="user" />
        <label for="username"> Usuário </label>
      </p-floatLabel>
      <p-floatLabel>
        <input pInputText type="password" id="password" [(ngModel)]="password" />
        <label for="password"> Senha </label>
      </p-floatLabel>
      <div class="button">
        <p-button label="Entrar" routerLink="/home" />
      </div>
    </div>
  </div>
</div>
