<eo-auth-container>
  <div class="infos">
    <p-floatLabel>
      <input pInputText id="username" [(ngModel)]="user.username" />
      <label for="username"> Usuário </label>
    </p-floatLabel>
    <p-floatLabel>
      <p-password [(ngModel)]="user.password"/>
      <label for="password"> Senha </label>
    </p-floatLabel>
    <div class="button">
      <p-button label="Entrar" (onClick)="teste()" />
    </div>
    <div class="button">
      <p-button label="Criar conta" [link]="true" routerLink="/create-account"/>
    </div>
  </div>
</eo-auth-container>
