@use '../../../../../styles/variables' as *;

section {
  padding: $space-lg;

  .header {
    display: flex;
    justify-content: center;

    h2 {
      margin-block: 0;
    }
  }
}

p-speedDial {
  position: fixed;
  right: 84px;
  bottom: 84px;
}

i {
  cursor: pointer;
}
