<section class="speeddial-circle-demo">
  <div class="header">
    <h2> Restaurantes </h2>
  </div>
  <p-divider />

  <p-table
    styleClass="p-datatable-striped"
    [columns]="columns"
    [value]="restaurants"
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header" let-columns>
      <tr>
        @for (column of columns; track column.field) {
          <th>
            {{ column.header }}
          </th>
        }

        <th> Ações </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        @for (column of columns; track column.field) {
          <td>
            @if (column.field === 'businessHours') {
              {{ rowData['openingHours'] | date: 'HH:mm' }} até {{ rowData['closingHours'] | date: 'HH:mm' }}
            }
            @else {
              {{ rowData[column.field] }}
            }
          </td>
        }

        <td>
          <div>
            <i class="pi pi-pen-to-square" pTooltip="Editar" tooltipPosition="top"
              (click)="idToUpdate = rowData['id']; showRestaurantFormDialog = true"></i>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>

<p-speedDial (onClick)="idToUpdate = ''; showRestaurantFormDialog = true" />

@if (showRestaurantFormDialog) {
  <p-dialog header="Restaurante" [modal]="true" [(visible)]="showRestaurantFormDialog" [style]="{ width: '50rem' }">
    <eo-restaurant-form-dialog
      [restaurantId]="idToUpdate"
      (finishCreate)="readList()"
      (closeDialog)="showRestaurantFormDialog = false"/>
  </p-dialog>
}
