@use 'styles/variables' as *;
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";

:root {
  --primary-color: #ff6600;
  --primary-color-text: #ffffff;
  --surface-ground: #f8f9fa;
  --surface-card: #ffffff;
  --text-color: #333333;
  --text-color-secondary: #6c757d;
  --border-radius: 10px;
}

body {
  margin: 0;
}
