// #region Cores principais
$color-primary: #ff6b35;
$color-secondary: #f7c59f;
$color-success: #00b894;
$color-error: #d63031;
$color-bg: #f9f9f9;
$color-text: #2d3436;
$color-white: #ffffff;
// #endregion Cores principais

// #region Espaçamentos
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;
// #endregion Espaçamentos

// #region Tipografia
$font-primary: 'Poppins', sans-serif;
// #endregion Tipografia
