@use '../../../../../styles/variables' as *;

div.teste {
  background: $color-bg;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  div.card-login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $space-md;
    background-color: $color-white;
    border-radius: $space-sm;
    width: 30vw;
    height: 70vh;
    box-shadow: 0px 4px 8px 4px rgba(255,107,53,0.7);
  }
}
