.card-component {
  border-radius: 10px;
  width: 25%;
}

p {
  padding-bottom: 10px;
}

.card-component img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.preco {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}



.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}


.pInputText {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 10px;
  size: 30px;
}
