div.header {
  width: 100%;
  background-color: var(--surface-ground);
  display: flex;
  align-items: center;
  padding: var(--spacing-md);

  -webkit-box-shadow: 0px 0px 10px 5px #A1A1A1;
  box-shadow: 0px 0px 10px 5px #A1A1A1;

  .actions {
    display: flex;
    align-items: center;
  }
}

p-breadcrumb {
  margin-left: var(--spacing-md);
}
