.ifood-carousel {
  width: 100%;
  overflow-x: auto;
  padding: 10px 0;
  scrollbar-width: none;
}

.ifood-carousel::-webkit-scrollbar {
  display: none; /* remove scrollbar */
}

.carousel-wrapper {
  display: flex;
  gap: 16px;
  padding-left: 10px;
}

.carousel-item {
  min-width: 85px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.carousel-item img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: transform .2s ease;
}

.carousel-item img:hover {
  transform: scale(1.07);
}

.carousel-item span {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  padding: 48px;
}
